$btn-normal: rgba(0, 0, 0, 0.6);
$btn-hover: rgba(107, 99, 181, 0.6);
$btn-active: #6B63B5;
$slytherin: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$ravenclaw:  linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
$hufflepuff: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
$gryffindor: linear-gradient(135deg, #FF0000 4.67%, #FED482 96.97%);
$black: #000000;
$white: #ffffff;
$light-dark: #263238;
$border: #6B63B5;
$body-text: #374A59;
$heading-text: #081F32;
$gray-text: #999999;
